<?xml version="1.0"?>

<model>
  <name>Window with ArUco Markers</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>David Leonardo Ramírez Parada</name>
    <email>david.parada@cimat.mx</email>
  </author>

  <description>
    Window with ArUco Markers. One on each side. 
  </description>
</model> 
