<launch>
  <node name="bearings_node" type="bearings" pkg="bearings" output="screen"/>
  <rosparam command="load" file="$(find bearings)/config/params_drone_1.yaml" ns="ns1"></rosparam>
  <rosparam command="load" file="$(find bearings)/config/params_drone_2.yaml" ns="ns2"></rosparam>
  <rosparam command="load" file="$(find bearings)/config/params_drone_3.yaml" ns="ns3"></rosparam>
  <rosparam command="load" file="$(find bearings)/config/params_drone_4.yaml" ns="ns4"></rosparam>
  <rosparam command="load" file="$(find bearings)/config/params_drone_5.yaml" ns="ns5"></rosparam>
  <rosparam command="load" file="$(find bearings)/config/general.yaml" ns="general"></rosparam>
</launch>
